@import "form.css";
@import "posts.css";

html {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
  background-color: #ece7e1;
}

.flex {
  display: flex;
  flex-direction: column;
}

header nav {
  width: 50vw;
  height: 05vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 17px;
  color: #497e7e;
  font-weight: bold;
  
}