button {
    background-color: #ece7e1;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #497e7e;
    font-weight: bold;
  
    position: relative;
    border-radius: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* margin-bottom: 40px; */
  }
  
  button:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    content: " ";
    cursor: pointer;
    transition: 0.3s ease-out;
    border-radius: 150px;
    filter: blur(7px);
    box-shadow: 8px 8px 20px #747475, -8px -8px 20px #fff;
  }
  
  button:hover:before {
    box-shadow: 8px 8px 20px #747475, -8px -8px 20px #fff,
      inset -8px -8px 20px #fff, inset 8px 8px 20px #747475;
  
    /* transition: 0.3s ease-in;
      transform: scale(1.1); */
  }
  