.modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;


  /* sensação de fundo meio apagado */
  background: rgba(0, 0, 0, 0.4);
}


.modal-content {
  justify-content: center;
  align-items: center;

  width: 50%;
  max-width: 700px;
  border-radius: 20px;
  height: 300px;
  color: rgb(71, 70, 70);

}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;

}

.modal-bt {
  outline: none;
  border: none;

  width: 150px;
  height: 80px;

  margin-bottom: 30px;
}

.modal-content h3{

  font-size: 20px;
}
 .modal-content p {
  text-align: center;
  height: 50px;
 }

 .cancel {
  color: #a03b40;
 }

 .confirm {
  color: #559494;
 }
